@import '../../../sass/_variables';
@import '../../../sass/_responsive';
@import '../../../sass/_headAnimation';
// .services {
// 	&:hover {
// 		background-color: #faf3f3;
// 	}
// 	&__top {
// 		position: relative;
// 		&--sub {
// 			font-size: 2.3rem;
// 			font-family: $font-bebas;
// 			color: $color-primary;
// 			@include mobile-m {
// 				/*320px-375px*/
// 				font-size: 3.3rem;
// 			}
// 			@include mobile-s {
// 				/*375px-424px*/
// 				font-size: 3.3rem;
// 			}
// 			@include mobile-l {
// 				/*425px-480px*/
// 				font-size: 3.5rem;
// 			}
// 		}
// 		&--main {
// 			font-size: 4rem;
// 			font-family: $font-bebas;
// 			@include mobile-m {
// 				/*320px-375px*/
// 				font-size: 5rem;
// 			}
// 			@include mobile-s {
// 				/*375px-424px*/
// 				font-size: 5rem;
// 			}
// 			@include mobile-l {
// 				/*425px-480px*/
// 				font-size: 6rem;
// 			}
// 		}
// 	}
// }
.about {
	padding: 10rem 0;
	position: relative;
	&__text {
		position: relative;
		@include mobile-m {
			/*320px-375px*/
			padding-left: 1.7rem;
		}
		@include mobile-s {
			/*375px-424px*/
			padding-left: 5rem;
		}
		@include mobile-l {
			/*425px-480px*/
			padding-left: 5rem;
		}
		@include mobile-port {
			/*481px-767px*/
			padding-left: 4rem;
		}
		.head-animation {
			// width: 37rem;
			// height: 14rem;
			position: absolute;
			top: 8%;
			left: 8.5%;
			@include mobile-m {
				/*320px-375px*/
				left: 13%;
			}
			@include mobile-s {
				/*375px-424px*/
				top: 1rem;
				left: -4.5rem;
			}
			// @include mobile-l {
			// 	/*425px-480px*/
			// 	top: 3rem;
			// 	left: -4.5rem;
			// }
			// @include mobile-port {
			// 	/*481px-767px*/
			// 	left: -13%;
			// }
			// @include tablet {
			// 	/*768px-1024px*/
			// 	left: -24%;
			// }
		}
		&--description {
			padding: 5rem 7rem 5rem 0;
			font-size: 1.8rem;
			text-align: justify;
			font-family: $font-sora;
			font-weight: 300;
			@include mobile-m {
				/*320px-375px*/
				font-size: 2.8rem;
			}
			@include mobile-s {
				/*376px-425px*/
				font-size: 3rem;
			}
			@include mobile-l {
				/*425px-480px*/
				font-size: 3.5rem;
			}
		}
	}
	&__image {
		text-align: center;
		img {
			width: 28rem;
			margin-top: -5rem;
		}
		@include mobile-m {
			/*320px-374px*/
			margin-top: 2rem;
		}
		@include mobile-s {
			/*375px-424px*/
			margin-top: 2.3rem;
		}
	}
}
