@import '../../../sass/_variables';
@import '../../../sass/_responsive';
@import '../../../sass/_headAnimation';
.about {
	padding: 10rem 0;
	position: relative;
	&__text {
		position: relative;
		@include mobile-m {
			/*320px-375px*/
			padding-left: 6rem !important;
		}
		@include mobile-s {
			/*375px-424px*/
			padding-left: 6rem !important;
		}
		@include mobile-l {
			/*425px-480px*/
			padding-left: 6rem !important;
		}
		@include mobile-port {
			/*481px-767px*/
			padding-left: 6rem !important;
		}
		.head-animation {
			// width: 37rem;
			// height: 14rem;
			position: absolute;
			top: 10;
			left: 5rem;
			@include mobile-m {
				/*320px-375px*/
				left: 22%;
			}
			@include mobile-s {
				/*375px-424px*/
				left: 18%;
			}
			@include mobile-l {
				/*425px-480px*/
				left: 16%;
			}
			@include mobile-port {
				/*481px-767px*/
				left: 14%;
			}
			@include tablet {
				/*768px-1024px*/
				left: 12%;
			}
		}
		&--description {
			padding: 4rem 7rem 5rem 0;
			font-size: 1.8rem;
			text-align: justify;
			font-family: $font-sora;
			font-weight: 300;
			@include mobile-m {
				/*320px-375px*/
				font-size: 2.8rem;
			}
			@include mobile-s {
				/*376px-425px*/
				font-size: 3rem;
			}
			@include mobile-l {
				/*425px-480px*/
				font-size: 3.5rem;
			}
		}
	}
	&__image {
		text-align: center;
		img {
			width: 38rem;
			margin-top: -5rem;
		}
		@include mobile-m {
			/*320px-374px*/
			margin-top: 2rem;
		}
		@include mobile-s {
			/*375px-424px*/
			margin-top: 2.3rem;
		}
	}
}
