@import '../../../sass/_variables';
@import '../../../sass/_responsive';
@import '../../../sass/_typography';
.footer {
	&__top {
		padding: 5rem 0 4rem 0;
		background: $footer-top;
		.single-footer {
			position: relative;
			h4 {
				color: $color-white;
				font-family: $font-bebas;
				font-size: 3rem;
				margin-bottom: 5rem;
			}
			.head-animation {
				top: -3rem;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					&:not(:last-child) {
						margin: 1rem 0 1rem 0;
					}
					a {
						text-decoration: none;
						color: $color-white;
						font-size: 1.8rem;
						font-family: $font-sora;
						font-weight: 300;
						transition: all 0.6s ease;
						&:hover {
							color: $color-primary;
						}
					}
				}
			}
		}
		.contact-us {
			ul {
				li {
					&:not(:last-child) {
						margin: 2rem 0 2rem 0;
					}
					svg {
						margin-right: 1.3rem;
						color: $color-primary;
					}
				}
			}
		}
		.newsletter {
			.form {
				.form-control {
					width: 35rem;
					height: 5rem;
					margin: 7rem auto 2rem auto;
					font-size: 1.3rem;
					&:active,
					&:focus {
						box-shadow: none !important;
						outline: none;
						border: 2px solid $color-primary;
					}
					@include mobile-m {
						/*320px-374px*/
						margin: 1rem auto;
					}
					@include mobile-s {
						/*375px-424px*/
						margin: 1rem auto;
					}
					@include mobile-l {
						/*425px-480px*/
						margin: 1rem auto;
					}
				}
				button {
					width: 12rem;
					height: 3.4rem;
					font-size: 1.8rem;
					background-color: $color-primary;
					color: $color-white;
					box-shadow: none !important;
					outline: none !important;
					border: none !important;
					font-family: $font-bebas;
					transition: all 0.5s ease-in-out;
					&:hover {
						color: $color-black;
					}
				}
			}
		}
	}
	&__bottom {
		background: $footer-bottom;
		padding: 0 5rem 0 5rem;
		&--logo {
			img {
				width: 30rem;
				height: 10rem;
			}
		}
		&--social {
			ul {
				list-style: none;
				margin-top: 4rem;
				text-align: center;

				li {
					display: inline-block;
					a {
						display: block;
						svg {
							padding: 0 1rem;
							font-size: 1.5rem;
							margin: 0 1.5rem;
							transition: all 0.8s ease;
							background: #121212;
							width: 4.6rem;
							height: 4.6rem;
							line-height: 3.5rem;
							color: #fff;
							border-radius: 40%;

							&:hover {
								background-color: $color-primary;
							}
						}
					}
				}
			}
		}
		&--copyright {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			font-size: 2rem;
			color: $color-white;
			font-family: $font-bebas;
		}
	}
}
