@import '../../../sass/_variables';
.brand {
	padding: 15rem 0;
	background-color: #000;
	text-align: center;
	text-align: -webkit-center;
}
.brand-area {
	padding: 3rem 6rem;
}
.brand-area {
	overflow-y: hidden;
}
.single-brand {
	border: 1px solid $color-primary;
	text-align: center;
	padding: 3rem 0 0 0rem;
	margin: 0.9rem 0;
	width: 170px !important;
	height: 100px !important;
	cursor: pointer;
	transition: transform 0.4s ease;
	overflow-y: hidden;
}
.single-brand > img {
	width: 50%;
	margin: 0 auto;
}
.single-brand:hover {
	box-shadow: $shadow;
	transform: scale(2);
	filter: brightness(15);
	border: none;
}
