@import '../../../sass/_variables';
.breadcumb {
	padding: 14rem;
	color: $color-white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	&__text {
		display: grid;
		align-items: center;
		justify-content: center;
		text-align: center;
		h4 {
			font-size: 7rem;
			font-family: $font-bebas;
		}
		ul {
			list-style: none;
			font-size: 2rem;
			text-align: center;
			li {
				display: inline-block;
				font-family: $font-sora;
				a {
					font-size: 2rem;
					text-decoration: none;
					color: $color-white;
					transition: $transition;
					font-family: $font-sora;
					&:hover {
						color: $color-primary;
					}
				}
			}
		}
	}
}
