@import '../../../sass/_responsive';
@import '../../../sass/_variables';
.project {
	padding-top: 15rem;
	padding-bottom: 5rem;
	background-color: #000000;
	width: 100%;

	h2 {
		display: block;
		font-size: 5rem;
		font-weight: 700;
		font-family: $font-bebas;
		letter-spacing: 2.5rem;
		animation: moveInLeft 0.7s ease-out;
		margin-bottom: -1.8rem;
		text-align: center;
	}
	.slide-img {
		width: 300px !important;
	}
}
